@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Ruthie);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

* {
	margin:0;
}

/* nav on every page*/

nav {
	background-color: #E9CEA9;
	padding-bottom: 15px;
}

nav ul {
	list-style: none;
	text-align: right;
}

nav ul li {
	display: inline-block;
	margin-right: 5%;
	margin-top:15px;
}

nav ul li a {
	font-family: 'Raleway';
	text-decoration: none;
	font-size:1.1em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #000000;
}

.main-content {
	background-color: #E9CEA9;
	padding-bottom: 15px;
}

.main-content ul {
	list-style: none;
}

.main-content ul li {
	display: inline-block;
	margin-right: 5%;
	margin-top:15px;
}

.main-content ul li a {
	font-family: 'Raleway';
	text-decoration: none;
	font-size:1.3em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #000000;
}

/* INDEX.HTML */

h1 {
	font-family: 'Raleway';
	font-weight: 300;
	text-transform: uppercase;
	text-align:center;
	font-size: 70px;
	letter-spacing: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header1 {
	background: url('../img/background.png');
	background-size: cover;
	height: 500px;
	padding-top: 125px;
}

hr {
	text-align: center;
	margin: 15px 35%;
	border: 1px solid #000000;
}

h3 {
	color:#000000;
	font-family: 'Raleway';
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1.3px;
	padding-top: 20px;
}

.header2 {
	background-image: url('../img/header2background.png');
	background-repeat: repeat;
	height: 450px;
}

.header2 ul {
	position: relative;
	margin: 10px auto 0 auto;
}

.header2 ul li {
	padding: 0;
	list-style: none;
	display: none;
}

.birthSticker .sticker-img { background-image: url('../img/birthdate_sticker.png');}
.familySticker .sticker-img { background-image: url('../img/family_sticker.png');}
.careersSticker .sticker-img { background-image: url('../img/careers_sticker.png');}
.theatersSticker .sticker-img { background-image: url('../img/theaters_sticker.png')}

.sticker {
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 2em 2%;
}

.sticker .sticker-shadow {
	opacity: 0.6;
}

#home .header2 .sections {
	text-align: center;
	margin-bottom: 50px;
}

/* HEADER 3 STYLES ARE ON SEPARATE STYLE SHEET (header3style.css) */


.header4 {
	background-image: url('../img/header4background.png');
	background-repeat: repeat;
	height: 450px;
}

.iambicSticker .sticker-img { background-image: url('../img/iambic_sticker.png');}
.termsSticker .sticker-img { background-image: url('../img/terms_sticker.png')}

/* BACKGROUND.HTML */

#backgroundBackground {
	background-image: url('../img/backgroundBackground.png');
}

.backgroundDivs {
	padding-bottom: 40px;
}

.descriptions {
	padding-bottom: 2px;
	padding-top: 10px;
	word-spacing: 2.5px;
	width: 1200px;
}

dl {
	background: url('../img/header3background.png');
}

#birthdate {
	padding-top: 60px;
}

/* SONNETS.HTML */

body {
	font-family: 'Raleway';
}

#playsBackground {
	background: url('../img/background_playssonnets.png');
	background-size: cover;
}

.title {
	padding-bottom: 100px;
	padding-top: 100px;
	font-size: 45px;
}

h2 {
	font-size: 40px;
	padding-left: 180px;
	padding-top: 50px;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 10px;
}

#playslistBackground {
	background-image: url('../img/header3background.png');
	background-repeat: repeat;
}
#playsList {
	padding-left: 140px;
	padding-bottom: 40px;
}

#playsList ul {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

#playsList ul li {
	padding-top: 7px;
	padding-right: 50px;
}

#playsList ul li a {
	text-decoration: none;
	color: #000000;
	font-size: 18px;
}
#sonnetsList {
	text-align:center;
	padding-bottom:50px;
}
#sonnetsList ul {
	list-style: none;
}

#sonnetsList ul li {
	padding-top: 7px;
	padding-right: 50px;
}

#sonnetsList ul li a {
	text-decoration: none;
	color: #000000;
	font-size: 19px;
}

#playsSubtitles h3 {
	display: inline-block;
	font-size: 30px;
	font-weight: 400;
	/*margin-right: 120px;
	margin-left: 120px;*/
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

#playsSubtitles {
	margin:auto auto;
	padding-left: 240px;
	padding-bottom: 30px;
}

#playsSubtitles ul {
	list-style: none;
	text-align:center;
	-webkit-padding-start:0px;
}

#playsSubtitles ul li {
	padding-top: 7px;
	/*padding-right: 50px;*/
/*	margin-left: 100px;*/
text-align:left;
}

#playsSubtitles ul li a {
	text-decoration: none;
	color: #000000;
	font-size: 18px;
}

.sonnetscoupletsBackground {
	background-image: url('../img/header3background.png');
	background-repeat: repeat;
}

.genreLists {
	display: inline-block;
	vertical-align: top;
	margin: auto 100px;
}

.sonnetscouplets {
	display: inline-block;
	margin-top:25px;
	width:700px;
	vertical-align:top;
}

.questions {
	text-align: left;
	padding-left: 180px;
}

.definition {
	font-size: 18px;
	word-spacing: 2px;
	padding-left: 180px;
	padding-top: 10px;
	line-height: 22px;
}

#sonnetExample {
	font-size: 18px;
	padding-left: 180px;
	padding-top: 10px;
	line-height: 22px;
	word-spacing: 2px;
}

#coupletExample {
	font-size: 18px;
	padding-left: 180px;
	padding-top: 5px;
	line-height: 22px;
	word-spacing: 2px;
}

.sonnets {
	display: inline-block;
	padding-top: 100px;
	vertical-align: top;
	text-align:center;
	line-height: 20px;
}

/*TERMINOLOGY.HTML */

#terminologyBackground {
	background-image: url('../img/background_terminology.png');
	background-size: cover;
}

.iambicPentameter {
	background-image: url('../img/header3background.png');
}

.iambicDefinition {
	font-size: 18px;
	padding-left: 180px;
	padding-bottom: 20px;
	word-spacing: 2px;
	line-height: 20px;
	width: 840px;
}

#iambicExample {
	font-size: 18px;
	padding-left: 180px;
	word-spacing: 2px;
	line-height: 22px;
}

.figurativeLanguage {
	background-image: url('../img/header3background.png');
}

#termsBackground {
	padding-bottom: 20px;
}

.termsDefinition {
	font-size: 17px;
	padding-left: 180px;
	padding-bottom: 5px;
}

dt {
	font-size: 22px;
	padding-left: 180px;
}

dd {
	font-size: 18px;
	padding-left: 180px;
	padding-bottom: 5px;
}

.termsDefinition {
	padding-bottom: 20px;
}

.termsExample {
	padding-left: 240px;
	word-spacing: 2px;
	padding-bottom: 20px;
	font-size: 18px;
}

/* links */

a:link {
	color:#000000;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
}

/* footer */

footer, #copyright {
	text-transform: uppercase;
	text-align: center;
	background-color: #E9CEA9;
	font-weight: 400;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
}