@font-face {
    font-family: 'KG Hard Candy Solid';
    src: url('../fonts/kghardcandysolid/kghardcandysolid-webfont.eot');
    src: url('../fonts/kghardcandysolid/kghardcandysolid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kghardcandysolid/kghardcandysolid-webfont.woff2') format('woff2'),
         url('../fonts/kghardcandysolid/kghardcandysolid-webfont.woff') format('woff'),
         url('../fonts/kghardcandysolid/kghardcandysolid-webfont.ttf') format('truetype'),
         url('../fonts/kghardcandysolid/kghardcandysolid-webfont.svg#kg_hard_candy_solidregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KG Hard Candy Striped';
    src: url('../fonts/kghardcandystriped/kghardcandystriped-webfont.eot');
    src: url('../fonts/kghardcandystriped/kghardcandystriped-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kghardcandystriped/kghardcandystriped-webfont.woff2') format('woff2'),
         url('../fonts/kghardcandystriped/kghardcandystriped-webfont.woff') format('woff'),
         url('../fonts/kghardcandystriped/kghardcandystriped-webfont.ttf') format('truetype'),
         url('../fonts/kghardcandystriped/kghardcandystriped-webfont.svg#kg_hard_candy_stripedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
