// colors

$color-1: #363558; // Martinique
$color-2: #544173; // Mulled Wine
$color-3: #dadcdc; // Iron
$color-4: #65d29b; // Emerald
$color-5: #1c1726; // Bastille
$color-6: #ffffff; // White

$contact-font-color: rgba(229, 107, 110, .52);

// fonts

$striped: 'KG Hard Candy Striped';
$solid: 'KG Hard Candy Solid';
$freight-sans: "freight-sans-pro";

$primary-font: 'freight-sans-pro', sans-serif;
$secondary-font: $solid, serif;

$light: 300;
$book: 400;
$medium: 500;

// animation duration

$fold-animation: .5s;
$fold-content-animation: .2s*(3+1)/2; // replace 3 with number of elements that you want to animate
