body {
    background-color: #EEEEEE;
    font: 16px "freight-sans-pro", Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding-bottom: 3em;
    opacity:0;  /* make things invisible upon start */
     -webkit-animation:fadeIn ease-in 1 forwards 1s;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
     -moz-animation:fadeIn ease-in 1 forwards 1s;
     animation:fadeIn ease-in 1 forwards 1s;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.container {
    max-width: 967px;
    margin: auto;
    margin-top: 2.5em;
    @media (max-width: 970px) {
        padding: 0 2em;
    }
}

// Colors

.gold {
    color: #E19A24;
    font-style: italic;
}

.silver {
    color: #8D8D8D;
    font-style: italic;
}

section {
    margin: 1em 0;
}

hr {
    width: 175px;
    margin-right: auto;
    margin-left: 0;
}

p {
    line-height: 25px;
    word-spacing: .5px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    line-height: 25px;
    list-style: none;
}

a {
    color: #7D7D7D;
    text-decoration: none;
    &:hover {
        color: #4A4A4A;
    }
    &[href^="tel"] {
        font: 14px "open-sans", Helvetica, Arial, sans-serif;
    }
}

h1 {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: .66px;
    font-weight: 500;
    font-size: 16px;
}

h2 {
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
}

h3 {
    font-weight: 300;
}

h4 {
    font-weight: 400;
    margin-bottom: 10px;
}

@media (max-width: 450px) {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}

.projects h2 {
    margin-top: 0;
}

.projects-list {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    li {
        vertical-align: top;
        margin-right: 8px;
        color: #7D7D7D;
        text-align: center;
        opacity: 1;
        transition: opacity .5s;
        width: 233px;
        margin-bottom: 1em;
        &:hover {
            opacity: .5;
        }
        a {
            text-align: center;
            color: #7D7D7D;
        }
        img {
            display: block;
        }
    }
    ul li {
        display: block;
    }
}

.rewards ul ul {
    margin-left: 132px;
}

.resume a {
    font-style: italic;
    font-weight: 400;
}

.projects-list + h2,
.projects,
.contact,
.rewards {
    margin-top: 4em;
}

.social-media {
    float: right;
    margin-top: 4.25em;
    svg {
        margin-right: 1em;
        &:hover path {
            fill: #4A4A4A;
        }
    }
    a:last-child svg {
        margin-right: 0;
    }
}

.rewards h3, .certifications {
    display: inline-block;
    vertical-align: top;
}
